<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="app/css/bootstrap.css"/>
    <script src="app/lib/angular/angular.js"></script>
    <script src="app/js/app.js"></script>
</head>
<body ng-init="data = true">

<div ng-controller="MyCtrl">
    <input type="text" ng-model="name" placeholder="Enter your name">
    <p>{{greeting}}</p>
</div>


  <p>{{ data | checkmark}}</p>
  <p>{{ !data | checkmark}}</p>


<tabs>
   <pane title="First Tab">First pane.</pane>
   <pane title="Second Tab">Second pane.</pane>
</tabs>
<script src="app/lib/jquery.min.js"></script>
</body>
</html>
