
<div class="span7">
  <div
    ng-controller="BookmarkFormController"
    ng-include src="'/app/tagfilter/bookmark_form.html'">
  </div>
  <div
    ng-controller="TagFilterController"
    ng-include src="'/app/tagfilter/tag_filter.html'">
  </div>
  <div
    ng-controller="BookmarkListController"
    ng-include src="'/app/tagfilter/bookmark_list.html'">
  </div>
</div>
<div class="span5">
  <div
    ng-controller="TagListController"
    ng-include src="'/app/tagfilter/tag_list.html'">
  </div>
</div>
