<html>
    <head>
        <title>Receta X</title>
        <meta name="layout" content="angular"/>
        <content tag="htmlAttrs">ng-app=""</content>
        <r:require module="core"/>
    </head>
<body>

</body>
</html>
