<html>
    <head>
        <title>Receta 1</title>
        <meta name="layout" content="angular"/>
        <content tag="htmlAttrs">ng-app=""</content>
        <r:require module="core"/>
    </head>
<body>
<p>Esta es la primera expresión AngularJs {{1 + 2}}</p>
</body>
</html>
