<html>
    <head>
        <title>Receta X</title>
        <meta name="layout" content="angular"/>
        <content tag="htmlAttrs">ng-app=""</content>
        <r:require module="core"/>
    </head>
<body>
<label><input type="checkbox" ng-model="activo"/>Botón alterne</label>
<button ng-disabled="activo">Púlsame</button>
</body>
</html>
