<html>
    <head>
        <title>Receta 2</title>
        <meta name="layout" content="angular"/>
        <content tag="htmlAttrs">ng-app=""</content>
        <r:require module="core"/>
    </head>
<body>
Escribe tu nombre: <input type="text" ng-model="name">
<p>Hello {{name}}!</p>
</body>
</html>
