<html>
  <head>

            <script src="js/jquery.min.js"></script>
            <script src="js/angular.min.js"></script>
            <!--<script type="text/javascript" src="js/receta.js"></script>   -->
           <link href="css/bootstrap-combined.min.css" rel="stylesheet">
            <!-- <link rel="stylesheet" href="css/cap2.css"> -->
  </head>
  <body ng-app>
    <p>Esta es la primera expresión AngularJs {{1 + 2}}</p>
  </body>
</html>
