<html>
<head>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/receta7.js"></script>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .nested {
            border: 1px solid red;
            margin-left: 2em;
            padding: 1em;
        }
    </style>

</head>
<body ng-app="MyApp" >

<div ng-controller="MyCtrl">
    <label>Primitiva</label><input type="text" ng-model="nombre">

    <label>Objeto</label><input type="text" ng-model="usuario.nombre">

    <div class="nested" ng-controller="MyNestedCtrl">
        <label>Primitiva anidada</label> <input type="text" ng-model="nombre">

        <label>Primitiva con referencia explicita al $parent</label><input type="text" ng-model="$parent.nombre">

        <label>Objeto</label><input type="text" ng-model="usuario.nombre">
    </div>
</div>



</body>
</html>
