<html>
<head>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>

    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <script>
        var app = angular.module("MyApp", []);

        app.controller("MyCtrl", function($scope) {
            $scope.nombre = "Peter";
            $scope.usuario = {
                name: "Parker"
            };
        });

        app.controller("MyNestedCtrl", function($scope) {
        });
    </script>

</head>
<body ng-app="MyApp" >

<div ng-controller="MyCtrl">
    <label>Primitiva</label><input type="text" ng-model="nombre">

    <label>Objeto</label><input type="text" ng-model="usuario.name">

    <div class="nested" ng-controller="MyNestedCtrl">
        <label>Primitiva anidada</label> <input type="text" ng-model="nombre">

        <label>Primitiva con referencia explicita al $parent</label><input type="text" ng-model="$parent.nombre">

        <label>Objeto</label><input type="text" ng-model="usuario.nombre">
    </div>
</div>



</body>
</html>
