<html>
  <head>
      <script src="js/jquery.min.js"></script>
      <script src="js/angular.min.js"></script>
      <!--<script type="text/javascript" src="js/receta.js"></script>   -->
      <link href="css/bootstrap-combined.min.css" rel="stylesheet">
      <!-- <link rel="stylesheet" href="css/cap2.css"> -->
  </head>
  <body ng-app>
   Escribe tu nombre: <input type="text" ng-model="name">
    <p>Hello {{name}}!</p>
  </body>
</html>
