<html>
<head>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/receta8.js"></script>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .nested {
            border: 1px solid red;
            margin-left: 2em;
            padding: 1em;
        }
    </style>
</head>
<body ng-app="MyApp" >

<div ng-controller="MyCtrl">
    <ul ng-repeat="user in users">
        <li>{{user}}</li>
    </ul>
    <div class="nested" ng-controller="AnotherCtrl">
        First user: {{firstUser}}
    </div>
</div>

</body>
</html>
