<html>
  <head>

      <script src="js/jquery.min.js"></script>
      <script src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/receta3.js"></script>
      <link href="css/bootstrap-combined.min.css" rel="stylesheet">
      <!-- <link rel="stylesheet" href="css/cap2.css"> -->
  </head>
  <body ng-app>
    <div ng-controller="MyCtrl">
      <button class="btn" ng-click="toggle()">Alternar</button>
      <p ng-show="visible">Hello World!</p>
    </div>
  </body>
</html>
