<html>
  <head>
      <script src="js/jquery.min.js"></script>
      <script src="js/angular.min.js"></script>

      <link href="css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body ng-app>
    Enter your name: <input type="text" ng-model="name">
    <p>Hello {{name | uppercase | lowercase }}!</p>
  </body>
</html>
