<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>

    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
            
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
	<script src="lib/angular/angular.js"></script>

    
    <script type="text/javascript" src="js/pagina8.js"></script>
    


</head>
<body ng-controller="TempCtrl">
Current temperature: <input ng-model='temp' type='number'/> Celcius
<p ng-show="temp>=17">Not too bad! {{ temp }} degrees, {{ temp - 10}} would be a little cold</p>
<p ng-show="temp<17">{{ temp }} degrees, is a little chilly, {{ temp+ 10 }} would be a nicer</p>

</body>
</html>