<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="/cap3/cors.js"></script>
</head>
<body ng-app="cors" ng-controller="CORSCtrl">
<div>
    <button ng-click="deleteUser()">$http DELETE with CORS</button>
</div>
</body>
</html>