<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="/cap3/httpbasics.js"></script>
</head>
<body ng-app="httpbasics" ng-controller="HttpBasicsCtrl">
<hr>
<div>
    <button ng-click="getName()">$http GET name</button>
    <button ng-click="getNameThen()">$http GET name then</button>
    <pre>Hello, {{data.name}}! </pre>
</div>
<hr>
<div>
    <button ng-click="queryUsers()">$http GET a mongolab</button>
    <pre>{{users | json}}</pre>
</div>
<hr>
<div>
    <button ng-click="queryUsersGeneric()">$http GET generica mongolab</button>
    <pre>{{usersGeneric |json}}</pre>
</div>
<hr>
<div>
    <button ng-click="addUser()">$http POST a mongolab</button>
    <pre>{{newUser | json}}</pre>
</div>
</body>
</html>