<!doctype html>
<html ng-app>
<head>
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
</head>




<body ng-controller="TextController">
<p>{{someText}}</p>



<script>
    function TextController($scope) {
        $scope.someText = 'You have started your journey.';
    }
</script>
</body>
</html>