<!doctype html>
<html ng-app>
<head>
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
    <meta charset="utf-8">

    <style type="text/css">
        .selected {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
<div ng-controller="ParentController">
    <div>
        Ship staff: {{firstName}} {{lastName}} and {{crewmen}} crewmen.
    </div>
    <div ng-controller="ChildController">
        Ship staff: {{firstName}} {{lastName}} and {{crewmen}} crewmen.
    </div>
</div>
<script>
    function ParentController($scope) {
        $scope.firstName = 'Captain';
        $scope.lastName = 'Nemo';
        $scope.crewmen = 30;
    }

    function ChildController($scope) {
        $scope.lastName = 'Columbus';
        $scope.crewmen = $scope.crewmen + 56;
    }
</script>
</body>
</html>