<!doctype html>
<html ng-app>
<head>
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
</head>
<body>
<table ng-controller='AlbumController'>
    <tr ng-repeat='track in album'>
        <td>{{$index + 1}}</td>
        <td>{{track.name}}</td>
        <td>{{track.duration}}</td>
    </tr>
</table>
<script>
    var album = [{name:'Southwest Serenade', duration: '2:34'},
        {name:'Northern Light Waltz', duration: '3:21'},
        {name:'Eastern Tango', duration: '17:45'}];

    function AlbumController($scope) {
        $scope.album = album;
    }
</script>
</body>
</html>
