<!doctype html>
<html ng-app>
<head>
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
    <meta charset="utf-8">
</head>
<body>
<form ng-submit="requestFunding()" ng-controller="StartUpController">
    Starting: <input ng-change="computeNeeded()" ng-model="funding.startingEstimate">
    Recommendation: {{funding.needed}}
    <button>Fund my startup!</button>
</form>
<script>
    function StartUpController($scope) {
        $scope.funding = { startingEstimate: 0 };
        $scope.computeNeeded = function() {
            $scope.funding.needed = $scope.funding.startingEstimate * 10;
        };

        $scope.requestFunding = function() {
            window.alert("Sorry, please get more customers first.");
        };
    }
</script>
</body>
</html>
