<!doctype html>
<html ng-app="myApp">
<head>
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
    <meta charset="utf-8">
</head>




<body ng-controller="TextController">
<p>{{someText.message}}</p>



<script>
    var myAppModule = angular.module('myApp', []);

    myAppModule.controller('TextController',
            function($scope) {
                var someText = {};
                someText.message = 'Has comenzando tu día.';
                $scope.someText = someText;
            });
</script>
</body>
</html>