<html>
  <head>

    <meta charset="utf-8">
    <script src="app/lib/jquery/jquery-1.10.2.min.js"></script>
            
    <link rel="stylesheet" href="app/css/bootstrap-combined.min.css">
    <script src="app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/js/receta3.js"></script>
      
  </head>
  <body ng-app>
    <div ng-controller="MyCtrl">
      <button class="btn" ng-click="toggle()">Alternar</button>
      <p ng-show="visible">Hello World!</p>
    </div>
  </body>
</html>
