<html>
  <head>
    
    <meta charset="utf-8">
    <script src="app/lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="app/css/bootstrap-combined.min.css">
    <script src="app/lib/angular/angular.js"></script>

      
  </head>
  <body ng-app>
    Enter your name: <input type="text" ng-model="name">
    <p>Hello {{name | uppercase | lowercase }}!</p>
  </body>
</html>
