<html>
<head>
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/js/receta8.js"></script>
    <link href="app/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .nested {
            border: 1px solid red;
            margin-left: 2em;
            padding: 1em;
        }
    </style>
</head>
<body ng-app="MyApp" >
<h3>Sharing code between Controllers using Services Locations 409-40</h3>
<div ng-controller="MyCtrl">
    <ul ng-repeat="user in users">
        <li>{{user}}</li>
    </ul>

    <div class="nested" ng-controller="AnotherCtrl">
        First user: {{firstUser}}
    </div>

    <div class="nested" ng-controller="CtrlConAnotacion">
       Segundo usuario : {{secondUser}}
    </div>

</div>

</body>
</html>
