<html>
<head>

    <script src="app/lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="app/css/bootstrap-combined.min.css">
    <script src="app/lib/angular/angular.js"></script>

    <script type="text/javascript" src="app/js/receta6.js"></script>
</head>
<body ng-app >

<div ng-controller="MyCtrl">
    <p>{{value}}</p>

    <p ng-init="incrementValue(5)">{{valor}}</p>

    <p>{{getIncrementedValue()}}</p>

<h2>Watch</h2>

<input type="text" ng-model="name" placeholder="Enter your name">

<p>{{greeting}}</p>

</div>

</body>
</html>
