<html>
<head>
    <meta charset="utf-8">
    <script src="app/lib/jquery/jquery-1.10.2.min.js"></script>
            
    <link rel="stylesheet" href="app/css/bootstrap-combined.min.css">
    <script src="app/lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/js/receta7.js"></script>
   
    <style>
        .nested {
            border: 1px solid red;
            margin-left: 2em;
            padding: 1em;
        }
    </style>

</head>
<body ng-app="MyApp" >

<div ng-controller="MyCtrl">
    <label>Primitiva</label><input type="text" ng-model="nombre">

    <label>Objeto</label><input type="text" ng-model="usuario.nombre">

    <div class="nested" ng-controller="MyNestedCtrl">
        <label>Primitiva anidada</label> <input type="text" ng-model="nombre">

        <label>Primitiva con referencia explicita al $parent</label><input type="text" ng-model="$parent.nombre">

        <label>Objeto</label><input type="text" ng-model="usuario.nombre">
    </div>
</div>



</body>
</html>
