<html>
<head>
    <script src="app/lib/angular/angular.js"></script>
    <script src="app/js/app_recipe24.js"></script>
    <link rel="stylesheet" href="app/css/bootstrap.css">
</head>



<body ng-app="MyApp">
<div ng-controller="User">
    <form ng-submit="submit()" novalidate>
        <label>Firstname</label>
        <input type="text" ng-model="user.firstname"/>
        <label>Lastname</label>
        <input type="text" ng-model="user.lastname"/>
        <label>Age</label>
        <input type="text" ng-model="user.age"/>
        <br>
        <button class="btn">Submit</button>
    </form>

    User Model: {{user}}
    <br>
    Form was submitted: {{wasSubmitted}}
</div>
</body>
</html>
