<label>
  URL:
  <input type="text" name="url" value="{{bookmark.url}}">
</label>
<label>
  Título:
  <input type="text" name="title" value="{{bookmark.title}}">
</label>
<input type="submit" name="save" value="Guardar">
<a href="/">Cancelar</a>
