<a href="/bookmark/new">Añadir Nuevo Marcador</a>
<h2>Lista de marcadores (Mustache)</h2>
<ul>
  {{#bookmarks}}
    <li>
       <a href="/bookmarks/{{id}}">Editar</a>
       <form action="/bookmarks/{{id}}" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Borrar">
       </form>
       |
       <a href="{{url}}">{{title}}</a>
     ( <a href="{{url}}">{{url}}</a> )
    </li>
  {{/bookmarks}}
</ul>
