<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Aplicación de marcadores</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Marcadores</h1>
      <hr>
      <div>
        {{{yield}}}
      </div>
    </div>
  </body>
</html>
