<html>
  <head>
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
            
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
	<script src="lib/angular/angular.js"></script>
            
           
            
  </head>
  <body ng-app>
    <p>Esta es la primera expresión AngularJs {{1 + 2}}</p>
  </body>
</html>
