<html>
<head>
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
            
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="lib/angular/angular.js"></script>  
    <script>
        var app = angular.module("MyApp", []);

        app.controller("MyCtrl", function($scope) {
            $scope.nombre = "Peter";

            $scope.usuario = {
                name: "Parker"
            };
        });

        app.controller("MyNestedCtrl", function($scope) {
        });
    </script>

</head>
<body ng-app="MyApp" >

<div ng-controller="MyCtrl">
    <label>Primitiva</label><input type="text" ng-model="nombre">

    <label>Objeto</label><input type="text" ng-model="usuario.name">

    <div class="nested" ng-controller="MyNestedCtrl">
        <label>Primitiva anidada</label> <input type="text" ng-model="nombre">

        <label>Primitiva con referencia explicita al $parent</label><input type="text" ng-model="$parent.nombre">

        <label>Objeto</label><input type="text" ng-model="usuario.nombre">

        <p> Los tipos primitivos se comportan de forma diferente a los objetos. Si se cambia el valor anidado se crea una copia en el scope del controlador anidado. En el caso
        de los objetos, como la referencia al objeto no se modifica, en el control anidado se sigue referenciando al mismo objeto. Un cambio en la propiedad se realiza en el mismo objeto
        en ámbos controladores</p>
    </div>
</div>



</body>
</html>
