<html>
  <head>
    
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>           
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="lib/angular/angular.js"></script>  
     
      <script type="text/javascript" src="js/receta5.js"></script>
      
  </head>
  <body ng-app="MyApp">
    <label for="checkbox"><input id="checkbox" type="checkbox" ng-model="visible">Marca/Desmarca</label>
    <div show="visible">
      <p>Hola Mundo</p>
      <div>
	      <p>El atributo ng-model asigna a la variable visible el valor del input. Como es un checkbox
	      el valor es cierto/Falso</p>
	      
	      <p>La directiva ejecuta una función que establece una propiedad watch para el atributo show. 
		 Cuando cambia, y eso ocurre al ser un ng-model al Marcar/Desmarcar el checkbox, se invoca
		 una función callback que establece la propiedad display del elemento, en función del valor
		 de visible a none o vacio
	 </p> 
	      
      </div>
    </div>
  </body>
</html>
