<html>
<head>
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>

    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/app18.css" rel="stylesheet">
    <script src="lib/angular/angular.js"></script>

    <script type="text/javascript" src="js/receta18.js"></script>


</head>
<body ng-app="MyApp">
<div ng-controller="PostsCtrl">
    <ul ng-repeat="post in posts">
        <li>{{post.title}}</li>
    </ul>
</div>


<script src="lib/angular/angular.js"></script>
<script type="text/javascript" src="js/receta19.js"></script>
</body>
</html>
