<html>
<head>
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/receta10.js"></script>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body ng-app>
<h3>Capítulo 3  Recipe 1Directivas 521-42</h3>
<h4> Directiva proporcionada por AngularJs ng-disabled</h4>
<p> Ver <a href="http://docs.angularjs.org/api">Api</a> </p>
<label>
    <input type="checkbox" ng-model="checked"/>Toggle Button
</label>
<button ng-disabled="checked">Press me</button>
</body>
</html>
