<html>
<head>
    <meta charset="utf-8">
    <script src="lib/jquery/jquery-1.10.2.min.js"></script>

    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="lib/angular/angular.js"></script>
    <script src="js/angular-locale_es-es.js"></script>
    <script type="text/javascript" src="js/receta18.js"></script>


</head>
<body ng-app="MyApp" ng-init="data = true">
<h3>Filtros ch4  1029</h3>
<input type="text" ng-model="amount" placeholder="Enter amount"/>
<p>Default Currency: {{ amount | currency }}</p>
<p>Custom Currency: {{ amount | currency: "Euro €" }}</p>

<input type="text" ng-model="text" placeholder="Enter text"/>
<p>Input: {{ text }}</p>
<p>Filtered input: {{ text | reverse }}</p>

<ul ng-init="names = ['Peter', 'Anton', 'John']">
    <li ng-repeat="name in names | exclude:'Peter'">
        <span>{{name}}</span>
    </li>
</ul>

<p>{{ data | checkmark}}</p>
<p>{{ !data | checkmark}}</p>

</body>
</html>
