@()

@layoutejemplo("Play with Angular.js Demo") {
<ul class="menu">
    <li><a href="/">home</a></li>
    <li><a href="/view1">view1</a></li>
    <li><a href="/view2">view2</a></li>
</ul>

<div ng-view></div>

<div>Angular seed app: v<span app-version></span></div>
}