<div>

    <p>Este texto se ha incluido a partir de un <b>parcial</b></p>
    <p>Como se crea un nuevo <b>scope</b>, la variable, con el mismo nombre, es diferente a la anterior </p>

    <label>Mostrar secreto? <input type="checkbox" ng-model="showSecret"></label>

    <div ng-switch on="showSecret">
        <div ng-switch-when="true">En el parcial opción cierto</div>
        <div ng-switch-when="false">En el parcial opción falso</div>

        <div ng-switch-default>Esta se verá en la primer carga!</div>
    </div>

</div>