<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
</head>

<body ng-app>
<label>Show secret? <input type="checkbox" ng-model="showSecret"></label>
<hr>
<div ng-show="showSecret">Secret</div>
<hr>
<div ng-hide="!showSecret">Secret</div>
<hr>
<div ng-switch on="showSecret">
    <div ng-switch-when="true">Una opción de verdad</div>
    <div ng-switch-when="false">Una opción de mentira</div>

    <div ng-switch-default>Esta se verá en la primer carga!</div>
</div>

<div ng-include="showSecret && 'parcial.html' || 'edit.user.html'">

</div>
</body>
</html>