<html>
<head>
    <meta charset="utf-8">
    <script src="app/lib/jquery/jquery-1.10.2.min.js"></script>

    <link href="app/css/bootstrap-combined.min.css" rel="stylesheet">



</head>
<body ng-app="MyApp">
<div ng-controller="PostsCtrl">
    <ul ng-repeat="post in posts">
        <li>{{post.title}}</li>
    </ul>
</div>


<script src="app/lib/angular/angular.js"></script>
<script type="text/javascript" src="app/js/receta19.js"></script>
</body>
</html>
