<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="app/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/app21.css"/>


</head>

<body>
  <div ng-controller="NoteIndexCtrl">
      <h3>Lista de notas</h3>

    <ul >
      <li ng-repeat="note in notes">
          <span>{{note.subject}} --- <a ng-click="remove(note)">Borrar</a></span>

      <div ng-controller="NoteShowCtrl"> <p> {{recuperar(note.id)}} {{$index}} Una nota {{note.subject}} </p>
      </div>
      </li>
    </ul>
  </div>
  <script src="app/lib/angular/angular.js"></script>
  <script src="app/lib/angular/angular-resource.js"></script>


  <script src="app/js/app_recipe21.js"></script>



</body>


</html>


