<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="app/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/app20.css"/>
    <script src="app/lib/angular/angular.js"></script>
    <script src="app/js/app_recipe20.js"></script>
</head>

<body ng-app="MyApp">
  <div ng-controller="PostsCtrl">
    <ul ng-repeat="post in posts">
      <li>{{post.title}}</li>
    </ul>
  </div>


</body>
</html>


