<form action="/signup" method="post">
  <div>
    <label>Usuario:</label>
    <input type="text" name="username"/><br/>
  </div>
  <div>
    <label>Contraseña:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <input type="submit" value="Sign Up"/>
  </div>
</form>
