<html>
<head>
    <meta charset="utf-8">
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
    <script type="text/javascript">
        var HelloCtrl = function ($scope) {
            $scope.name = 'World';

            $scope.getName = function() {
                return $scope.name;
            };
        }
    </script>
</head>
<body ng-app>
<div ng-controller="HelloCtrl">
    Say hello to: <input type="text" ng-model="name"><br>
    <h1>Hello, {{name}}!</h1>
</div>
</body>
</html>