<html>
<head>
    <meta charset="utf-8">
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
    <script type="text/javascript">

        var WorldCtrl = function ($scope) {
            $scope.population = 7000000;
            $scope.countries = [
                {name:'France', population:63.1},
                {name:'United Kingdom', population:61.8}
            ];

            $scope.worldsPercentage = function (countryPopulation) {
                return (countryPopulation / $scope.population)*100;
            };
        };
    </script>
</head>

<body ng-app>

<div  ng-controller="WorldCtrl" class="container">
    <hr>
    <ul>
        <li ng-repeat="country in countries">
            {{country.name}} has population of {{country.population}} millions,
            {{worldsPercentage(country.population)}} % of the World's population
        </li>
    </ul>
    <hr>
    World's population: {{population}} millions
</div>
</body>
</html>