<html>
<head>
    <meta charset="utf-8">
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
</head>
<body ng-app ng-init="name = 'World'">

    Say hello to: <input type="text" ng-model="name">
    <h1>Hello, {{name}}!</h1>

</body>
</html>