<html > 
<head>
    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script src="../lib/angular/angular.js"></script>
            
 
<body ng-app="helloApp">
  <div ng-controller="HelloCtrl">
    <p>{{greeting}} {{person}}</p>
    <input ng-model="person">
  </div>

  <script>
    angular.module('helloApp',[],function(){})
      .controller('HelloCtrl', function ($scope) {
        $scope.greeting = 'Hola';
        $scope.person = 'Mundo';
      });
  </script>

</body>
 </html>