<html ng-app> 
<head>


    <script src="../lib/jquery/jquery-1.10.2.min.js"></script>
            
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
	<script src="../lib/angular/angular.js"></script>
            
 <script type="text/javascript" src="../js/controller1.js"></script>
</head>
<body>
<div ng-controller='HelloController'>
    <input ng-model='greeting.text'>
    <p>{{greeting.text}}, World</p>
</div>
</body>
 </html>