<!doctype html>
<html ng-app="myApp" >
<head>
  <meta charset="utf-8">
  <title>Chapter 8 - simple select</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="app_select_simple.js"></script>
</head>
<body ng-controller="MainCtrl">
  <select ng-model="myChoice">
    <option ng-repeat="option in options"
            value="{{option.value}}"
            ng-selected="option.value == myChoice">{{option.name}}</option>
  </select>
  <div>Valor = {{myChoice}}</div>
</body>
</html>