<!doctype html>
<html ng-app="myApp" >
<head>
  <meta charset="utf-8">
  <title>AngularJS Plunker</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="app_select_empty.js"></script>
</head>


<body ng-controller="MainCtrl">
  <label>Select a letter (auto generated empty option)</label>
  <select ng-model="letter" ng-options="letter for letter in letters"></select>
  Selected Letter: {{ letter }} ({{ getType(letter) }})

  <label>Select a letter (custom empty option)</label>
  <select ng-model="letter" ng-options="letter for letter in letters">
    <option value="">--</option>
  </select>
  Selected Letter: {{ letter }} ({{ getType(letter) }})

  <label>Select a letter (custom empty option)</label>
  <select ng-model="letter" ng-options="letter for letter in letters">
      <option style="display:none" value=""></option>
  </select>
  Selected Letter: {{ letter }} ({{ getType(letter) }})

  <label>Selected Item is exactly the same object at the first option</label>
  <select ng-model="selectedItemExact" ng-options="item.name for item in sourceList"></select> {{selectedItemExact}}

  <label>Selected Item looks the same as the first option but has a different identity</label>
  <select ng-model="selectedItemSimilar" ng-options="item.name for item in sourceList"></select> {{selectedItemSimilar}}
</body>
</html>