<!doctype html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <title>Chapter 8 - shared subforms</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>

</head>

<body>


<form name="form1" novalidate>
  <legend>User Form</legend>
  <label>Name</label><input ng-model="user.name" required>
  <ng-include src="'password_form.html'"></ng-include>
</form>

</body>
</html>