<!doctype html>
<html ng-app="miAplicacion" >
<head>
  <meta charset="utf-8">
  <title>AngularJS Plunker</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="app_select_acoplado.js"></script>
</head>

<body ng-controller="ControladorPrincipal">
  <label>Seleccionar un usuario</label>
  <select ng-model="usuarioElegido"
          ng-options="user.nombre for user in usuarios">
      <option style="display:none" value=""></option>
   </select>

 Usuario elegido: {{ usuarioElegido }}

 <label>Select un teléfono del usuario</label>
 <select ng-model="telefono"
          ng-options="telefono for telefono in usuarioElegido.telefonos">
 </select>

 Telefono del usuario: {{ telefono }}





</body>
</html>