<!doctype html>
<html ng-app="myApp" >
<head>
    <meta charset="utf-8">
    <title>Chapter 8 - ng-submit</title>
    <script>document.write("<base href=\"" + document.location + "\" />");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="app_envio_indirecto.js"></script>
</head>
<body ng-controller="MainCtrl">
<form ng-submit="showAlert(q)">
    <input ng-model="q">
</form>
<form>
    <input ng-model="modelo">
    <button ng-click="showAlert(modelo)">Search</button>
</form>
</body>
</html>