<ng-form name="passwordForm">
    <div ng-show="user.password != user.password2">Passwords do not match</div>
    <label>Password</label><input ng-model="user.password" type="password" required>
    <label>Confirm Password</label><input ng-model="user.password2" type="password" required>
</ng-form>