<!DOCTYPE HTML>
<html ng-app="Angello">
<head>
<!--	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>-->
	<link rel="stylesheet" href="css/bootstrap.css">
	  <script src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="js/app_cap2.js"></script>
	
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/app_cap2.css">

	<title>Angello Lite</title>
</head>
<body>
	<div ng-controller="MainCtrl">
		<div class="span4 sidebar-content">
			<h2>Stories</h2>
			<div class="story" ng-repeat="story in stories" ng-click="setCurrentStory(story)">
				<h4>{{story.title}}</h4>
				<p>{{story.description}}</p>
			</div>
			<br>
			<a class="btn" ng-click="createStory()" ><i class="icon-plus"></i></a>
		</div>
		<div class="span6 body-content">
			<h2>Story</h2>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" id="inputTitle" placeholder="Title" ng-model="currentStory.title">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputStatus">Status</label>
					<div class="controls">
						<select id="inputStatus" ng-model="currentStatus" ng-options="l.name for l in statuses" ng-change="setCurrentStatus(currentStatus)"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputType">Type</label>
					<div class="controls">
						<select id="inputType" ng-model="currentType" ng-options="t.name for t in types" ng-change="setCurrentType(currentType)"></select>
					</div>
				</div>					
				<div class="control-group">
					<label class="control-label" for="inputDescription">Description</label>
					<div class="controls">
						<textarea id="inputDescription" placeholder="Description" rows="3" ng-model="currentStory.description"></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputAcceptance">Acceptance Criteria</label>
					<div class="controls">
						<textarea id="inputAcceptance" placeholder="Acceptance Criteria" rows="3" ng-model="currentStory.criteria"></textarea>
					</div>
				</div>					
				<div class="control-group">
					<label class="control-label" for="inputReporter">Reporter</label>
					<div class="controls">
						<input type="text" id="inputReporter" placeholder="Reporter" ng-model="currentStory.reporter">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputAssignee">Assignee</label>
					<div class="controls">
						<input type="text" id="inputAssignee" placeholder="Assignee" ng-model="currentStory.assignee">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
