@(cats: List[Cat])

@main_gatos("Cat database") {
<h2>Insert a kitty cat here:</h2>

<form action="/gatos/nuevo" method="POST">
    <input name="name" type="text" placeholder="name your feline friend"/>
    <input name="color" type="text" placeholder="enter the color of this kitty cat"/>
    <input type="submit"/>
</form>

<h2>Previously inserted cats:</h2>
<table>
    <tr><th>Name</th><th>Color</th></tr>
    @for(c <- cats){
    <tr><td>@c.name</td><td>@c.color</td></tr>
    }
    <tabe/>



    }
