<!DOCTYPE html>
<html>

<head>
    <title>Ejemplos angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-app="appindice">
<h1>Ejemplos AngularJs</h1>

<p>Fuente:Libro de <b>Pactpub</b> <em>Mastering Web Application Development with AngularJS</em></p>

<div id="Capitulos" ng-controller="VisibilidadController">
    <!-- Se crea un controlador hijo para crear un nuevo scope y que la variable con el mismo nombre
         actúe en ese scope -->

    <h2>Capítulo 3</h2>
    <div ng-controller="VisibilidadController" >
    <a href="#"  ng-init="showDetails=false" ng-click="showDetails = ! showDetails">{{mensaje()}}</a>

    <div ng-show="showDetails">
        <ul>
            <li ng-repeat="enlace in capitulo3"><a href="{{enlace.ruta}}">{{enlace.etiqueta}}</a></li>
        </ul>
    </div>
    </div>

    <h2>Capítulo 4.</h2>

    <div ng-controller="VisibilidadController" >
    <a href="#" ng-init="showDetails=false"  ng-click="showDetails = ! showDetails">{{mensaje()}}</a>
    <div  ng-show="showDetails">
        <ul>
            <li ng-repeat="enlace in capitulo4"><a href="{{enlace.ruta}}">{{enlace.etiqueta}}</a></li>

        </ul>

    </div>
        </div>

</div>

<div  id="MasCapitulos" ng-init="capituloSeleccionado='cap4'"  ng-controller="VisibilidadController" >

<table>
    <tr>
        <td colspan="2"> Capítulo 5 <a href="#"   ng-click="seleccionarCapitulo('cap5')"> {{mensaje()}}</a></td>
    </tr>
    <tr  ng-switch on="capituloSeleccionadoQ('cap5')" >

        <td><b>Capítulo 5</b></td>
        <td ng-switch-when="true">
        <ul>
            <li ng-repeat="enlace in capitulo5"><a href="{{enlace.ruta}}">{{enlace.etiqueta}}</a></li>
        </ul>
       </td>
        <td ng-switch-default>....</td>

    </tr>

    <tr>
        <td colspan="2">
        Capítulo 6  <a href="#"   ng-click="seleccionarCapitulo('cap6')"> {{mensaje()}}</a>
        </td>
    </tr>
    <tr  ng-switch on="capituloSeleccionadoQ('cap6')">
        <td><b>Capítulo 6</b></td>
        <td ng-switch-when="true" >
        <ul>
            <li ng-repeat="enlace in capitulo6"><a href="{{enlace.ruta}}">{{enlace.etiqueta}}</a></li>

        </ul>

</td>
        <td ng-switch-default>....</td>
    </tr>

    <tr>
        <td colspan="2">
            Capítulo 7  <a href="#"   ng-click="seleccionarCapitulo('cap7')"> {{mensaje()}}</a>
        </td>
    </tr>
    <tr  ng-switch on="capituloSeleccionadoQ('cap7')">
        <td><b>Capítulo 7</b></td>
        <td ng-switch-when="true" >
            <ul>
                <li ng-repeat="enlace in capitulo7"><a href="{{enlace.ruta}}">{{enlace.etiqueta}}</a></li>

            </ul>

        </td>
        <td ng-switch-default>....</td>
    </tr>
</table>


</div>

</body>
</html>