<!DOCTYPE html>
<html>

<head>
    <title>Ejemplos angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>

    <script>function VerNoVerController($scope) {

        $scope.mensaje=function() {

            if ($scope.showDetails) return "Ocultar";
            else return "Mostrar";
        };

    }</script>
</head>

<body ng-app>
<h1>Ejemplos AngularJs</h1>

<p>Fuente:Libro de <b>Pactpub</b> <em>Mastering Web Application Development with AngularJS</em></p>

<div id="Capitulos" ng-controller="VerNoVerController">
    <!-- Se crea un controlador hijo para crear un nuevo scope y que la variable con el mismo nombre
         actúe en ese scope -->


    <h2>Capítulo 3</h2>

    <div ng-controller="VerNoVerController" >

    <a href="#"  ng-init="showDetails=true" ng-click="showDetails = ! showDetails">{{mensaje()}}</a>

    <div ng-show="showDetails">


        <ul>
            <li><a href="cap3/httpbasics.html">Http básico</a></li>

            <li><a href="cap3/jsonp.html">Jsonp</a></li>

            <li><a href="cap3/cors.html">Cors</a></li>

            <li><a href="cap3/resource.html">Resource</a></li>

            <li><a href="cap3/customResource.html">Custom Resource</a></li>
        </ul>

    </div>

    </div>

    <h2>Capítulo 4.</h2>

    <div ng-controller="VerNoVerController" >

    <a href="#" ng-init="showDetails=true"  ng-click="showDetails = ! showDetails">{{mensaje()}}</a>

    <div  ng-show="showDetails">


        <ul>
            <li><a href="cap4/expressionscaping.html">Escapado de expresiones</a></li>
            <li><a href="cap4/showSecret.html">Ocultar y mostrar</a></li>
            <li><a href="cap4/repeater.html">Repetir y repetir</a></li>
            <li><a href="cap4/listAndDetails.html">Listas y detalles</a></li>
            <li><a href="cap4/arrayFilters.html">Filtros en array</a></li>
            <li><a href="cap4/highlight.html">Resaltado</a></li>
            <li><a href="cap4/filtersPerf.html">Filtros perf</a></li>
            <li><a href="cap4/filtersStability.html">Filtros estabilidad</a></li>

        </ul>

    </div>
        </div>

</div>

</body>
</html>