extends layout

block content

      //Comentario no dejar linea en blanco
      // Si se deja no funciona
      #banner.page-header
          .row
              .col-lg-6
              h1 Loc8r
              small &nbsp;Find places to work with wifi near you!
      .row
          .col-xs-12.col-sm-8
            .row.list-group
              .col-xs-12.list-group-item
                h4
                  a(href="/location") Starcups
                  small &nbsp;
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                  span.badge.pull-right.badge-default 100m
                p.address p.address 125 High Street, Reading, RG6 1PS #E
                p

                    span.label.label-warning Hot drinks
                    &nbsp;
                    span.label.label-warning Coffe
                    &nbsp;
                    span.label.label-warning wifi
                    &nbsp;
          .col-xs-12.col-sm-4
            p.lead Looking for wifi and a seat? Loc8r helps you find places to
                work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.