<html>
  <head>

    <meta charset="utf-8">
    <script src="js/lib/jquery/jquery-1.10.2.min.js"></script>
            
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
  <script src="js/lib/angular/angular.js"></script>
            
      
  </head>
  <body ng-app>
   Escribe tu nombre: <input type="text" ng-model="name">
    <p>Hello {{name}}!</p>
  </body>
</html>
