<div class="span7">
  <div
    ng-controller="BookmarkFormController"
    ng-include src="'/views/base/bookmark_form.html'">
  </div>
  <div
    ng-controller="BookmarkListController"
    ng-include src="'/views/base/bookmark_list.html'">
  </div>
</div>
