<!doctype html>
<html lang="en" ng-app="App_{{example}}">
  <head>
    <meta charset="utf-8">
    <title>Bookmarking App</title>
    <link href="/app/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <ul class="nav">
          {{#examples}}   <!-- inicio del loop -->
            <li {{#active}}class="active"{{/active}}>   <!-- condicion if -->
              <a href="/example/{{example}}">{{label}}</a>   <!-- elemento de la coleccion -->
            </li>
          {{/examples}} <!-- fin del loop -->
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Bookmarking App</h1>
          <hr>
          <div class="row">
            {{{ example_template }}}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/app/lib/sugar/sugar-1.3.9.min.js"></script>
  <script src="/app/lib/angularjs/1.0.8/angular.js"></script>
  <script src="/app/lib/angularjs/1.0.8/angular-resource.js"></script>
  {{#examples}}
    <script src="/app/js/{{example}}/app.js"></script>
  {{/examples}}
</html>
