<!DOCTYPE html>
<html lang="en" ng-app="Contacts">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="app/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/application.css"/>


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->



  </head>
  <body ng-controller="MainCtrl">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Contacts</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <ng-view></ng-view>
        </div>
      </div>

      <footer>
        <p>&copy; Ejemplos Angular 2014</p>
      </footer>

    </div>


    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular/angular-resource.js"></script>
    <script src="js/lib/angular/angular-route.js"></script>
    <script src="js/ng-app/app.js"></script>
    <script src="js/ng-app/controllers/MainCtrl.js"></script>
    <script src="js/ng-app/controllers/ContactsEditCtrl.js"></script>
    <script src="js/ng-app/controllers/ContactsIndexCtrl.js"></script>
    <script src="js/ng-app/controllers/ContactsShowCtrl.js"></script>
    <script src="js/ng-appservices/Contact.js"></script>


  </body>
</html>
