
<!doctype html>
<html lang="en" ng-app="BasicApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Basic</title>
  </head>
  <body ng-controller="BasicController">
    <div>
      What is your name?
      <input type="text" ng-model="greeter.name">
    </div>
    <div>
      {{greeter.greeting()}}
    </div>
  </body>
  <script src="lib/angularjs/1.0.8/angular.js"></script>
  <script src="index-basic.js"></script>
</html>
